
<div class="root">

  <!--
    Note: `lr-config` is the main block we use to configure File Uploader.
    It's important to all the context-related blocks to have the same `ctx-name` attribute.

    See more: https://uploadcare.com/docs/file-uploader/configuration/
    Available options: https://uploadcare.com/docs/file-uploader/options/

    Also note: Some options currently are not available via `lr-config`,
    but may be set via CSS properties. E.g. `darkmode`.

    Here they are: https://github.com/uploadcare/blocks/blob/main/blocks/themes/lr-basic/config.css
  -->
  <lr-config
  ctx-name="my-uploader"
  pubkey="5e7574b00c0789328de1"
  max-local-file-size-bytes="5000000"
  multiple-max="{{maxImages}}"
  [multiple]="maxImages>1"
  img-only="true"
  source-list="local, url, facebook, gdrive, instagram"
  ></lr-config>

  <lr-file-uploader-regular
    ctx-name="my-uploader"
    css-src="https://cdn.jsdelivr.net/npm/@uploadcare/blocks@0.35.2/web/lr-file-uploader-regular.min.css"
  ></lr-file-uploader-regular>

  <lr-upload-ctx-provider
    ctx-name="my-uploader"
    #ctxProvider
  ></lr-upload-ctx-provider>

  <div class="previews">
      <div class="preview" *ngFor="let file of uploadedFiles" (click)="imageClick(file.cdnUrl)">
        <img
          class="preview-image"
          src="{{ file.cdnUrl + '/-/preview/-/resize/x200/' }}"
          width="100"
          [alt]="file.fileInfo.originalFilename"
          [title]="file.fileInfo.originalFilename"
        />

        <span class="pi pi-arrows-v"></span>

        <button
          class="preview-remove-button"
          type="button"
          (click)="handleRemoveClick(file.internalId)"
        >×</button>
      </div>
  </div>
</div>
