<div class="grid">
  <div class="col-12">
    <div class="card">
        <h5>All Campaigns</h5>
      <p-table [value]="campaigns" [paginator]="false" [rows]="5" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="table-header p-d-flex p-jc-between p-ai-center">
            <div class="p-d-flex p-jc-between p-ai-center" style="display: flex; justify-content: space-between;
            align-items: end;">
              <div class="flex" style="align-content: end;">
                <div>
                  <h5>Search for a campaign</h5>
                  <div class="p-inputgroup" style="width: fit-content">
                    <input type="text" pInputText placeholder="Keyword" (input)="search($event)" />
                    <button type="button" pButton pRipple label="Search"></button>
                  </div>
                </div>
                <div>
                </div>
              </div>
              <button type="button" pButton pRipple label="Add new campaign" (click)="open()"></button>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th>Image</th>
            <th pSortableColumn="internalName">Internal name <p-sortIcon field="internalName"></p-sortIcon></th>
            <th pSortableColumn="budgetPerCreator">Budget per content creator  <p-sortIcon field="budgetPerCreator"></p-sortIcon></th>
            <th>Awards</th>
            <th>Number of clicks</th>
            <th>Number of purchases</th>
            <th>Total purchase value</th>
            <th pSortableColumn="status">Status <p-sortIcon field="budgetPerCreator"></p-sortIcon></th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-campaign>
          <tr>
            <td><img
              class="preview-image"
              src="{{ campaign.images[0] + '/-/preview/-/resize/x200/' }}"
              width="100"
            /></td>
            <td>{{campaign.internalName}}</td>
            <td>{{"€" + campaign.budgetPerCreator}}</td>
            <td>
              <div style="margin: 5px;" *ngFor="let award of campaign.awards">
                <p-tag *ngIf="award.type === awardType.Percentage" value="{{award.amount}}% per conversion"></p-tag>
                <p-tag *ngIf="award.type === awardType.PerClick" value="€{{award.amount}} per click"></p-tag>
                <p-tag *ngIf="award.type === awardType.PerConversion" value="€{{award.amount}} per conversion"></p-tag>
              </div>
            </td>
            <td>{{campaign.totalClicks}}</td>
            <td>{{campaign.totalPurchases}}</td>
            <td>€{{campaign.totalPurchaseValue}}</td>
            <td>
              <p-tag severity="warning"  *ngIf="campaign.status === campaignStatus.Draft" value="Draft"></p-tag>
              <p-tag severity="success" *ngIf="campaign.status === campaignStatus.Live" value="Live"></p-tag>
              <p-tag severity="danger" *ngIf="campaign.status === campaignStatus.Archived" value="Archived"></p-tag>
            </td>
            <td><button type="button" pButton pRipple label="Manage" (click)="open(campaign)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [totalRecords]="totalCount"
        (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>
