<div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [infiniteScrollDisabled]="disableScroll"
  (scrolled)="scroller()">
  <ng-container class="grid" *ngFor="let item of items">
    <div class="col-12">
      <p-card>
        <div class="flex flex-column xl:flex-row xl:align-items-start p-4 gap-4">
          <img class="w-9 sm:w-16rem xl:w-10rem shadow-2 block xl:block mx-auto border-round image"
            src="{{ item?.images[0] + '/-/preview/-/resize/x200/' }}" [alt]="item?.name" />
          <div
            class="flex flex-column sm:flex-row justify-content-between align-items-center xl:align-items-stretch flex-1 gap-4">
            <div class="flex flex-column align-items-center sm:align-items-start gap-3">
              <div class="text-2xl font-bold text-900">{{ item?.externalName }}</div>
              <div class="description" [innerHTML]="item?.description">
              </div>
              <div class="flex align-items-center gap-3">
                <ng-container *ngFor="let award of item?.awards">
                  <p-tag *ngIf="award.type === awardType.Percentage" value="{{award.amount}}% per conversion"></p-tag>
                  <p-tag *ngIf="award.type === awardType.PerClick" value="{{currencyFormatter.format(award.amount)}} per click"></p-tag>
                  <p-tag *ngIf="award.type === awardType.PerConversion"
                    value="{{currencyFormatter.format(award.amount)}} per conversion"></p-tag>
                </ng-container>
              </div>
            </div>
            <div class="flex sm:flex-column align-items-center sm:align-items-end gap-3 sm:gap-2"
              style="flex-wrap: wrap; justify-content: space-evenly;">
              <table class="details-table">
                <tr>
                  <td>Budget: </td>
                  <td>{{currencyFormatter.format(item?.budgetPerCreator)}}</td>
                </tr>
                <tr>
                  <td>End of campaign: </td>
                  <td>{{item?.endDateTime | date}}</td>
                </tr>
                <tr>
                  <td colspan="2">
                    <app-company-avatar [company]="item?.company">+</app-company-avatar>
                  </td>
                </tr>
                <tr *ngIf="item?.partnership">
                  <td colspan="2">
                    <p style="color: orange;" *ngIf="item?.partnership.status == 'AwaitingApproval'" >Your application is <strong>awaiting approval</strong></p>
                    <p  style="color: red;" *ngIf="item?.partnership.status == 'Rejected'">Your application is <strong>rejected</strong></p>
                    <p style="color: green;" *ngIf="item?.partnership.status == 'Approved'">You are <strong>approved</strong> for a partnership</p>
                  </td>
                </tr>
              </table>
              <button pButton icon="pi pi-eye" (click)="openDetails(item)">View details</button>
            </div>
          </div>
        </div>
      </p-card>
    </div>
  </ng-container>
</div>

<app-no-content *ngIf="showNoContent" primaryText="No campaigns found" secondaryText="We have not found suitable campaigns for you. You can add more categories in your Profile."></app-no-content>
