<div [formGroup]="form">
  <p-button *ngIf="!isEditMode" label="+ Add Award" styleClass="  p-button-outlined" (click)="addAward()"></p-button>
  <div formArrayName="awards" class="awards">
    <div *ngFor="let award of awards.controls; let i=index">
      <div [formGroupName]="i" class="mt-3 award" style="display: flex;">
        <span class="p-float-label">
          <p-dropdown [options]="awardsOptions" optionLabel="label" optionValue="value" formControlName="type"  class="col-5"></p-dropdown>
          <label>Reward type</label>
        </span>
        <div style="flex-grow: 2;">
          <span class="p-float-label" *ngIf="award.get('type')?.value == awardType.PerClick">
            <p-inputNumber  formControlName="amount"
              mode="currency" inputId="currency-germany" [currency]="currencuFormatter.getCurrencyName()" locale="en-EN"></p-inputNumber>
            <label>Reward per click</label>
          </span>
          <span class="p-float-label" *ngIf="award.get('type')?.value == awardType.PerConversion">
            <p-inputNumber  formControlName="amount"
              mode="currency" inputId="currency-germany" [currency]="currencuFormatter.getCurrencyName()" locale="en-EN"></p-inputNumber>
            <label>Reward per purchase</label>
          </span>
          <span class="p-float-label" *ngIf="award.get('type')?.value == awardType.Percentage">
            <p-inputNumber *ngIf="award.get('type')?.value == awardType.Percentage" formControlName="amount"
          inputId="percent" [min]="0.01" [max]="100" suffix="%" ></p-inputNumber>
            <label for="percent">Percentage of a purchase</label>
          </span>
        </div>
        <div>
          <p-button *ngIf="!isEditMode" icon="pi pi-times" (click)="removeAward(i)" class="ml-3"
            styleClass="ml-3 p-button-danger p-button-outlined"></p-button>
        </div>
      </div>
    </div>
  </div>
</div>
