<p-messages [(value)]="messages" [closable]="false"></p-messages>
<p-card header="Profile information">
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="py-4">
    <div class="grid jc-between mb-3">
      <div class="p-field col-6 py-3">
        <span class="p-float-label">
          <input id="name" type="text" class="w-full" pInputText formControlName="firstName"
          [ngClass]="{ error: form.get('firstName')?.invalid && form.get('firstName')?.touched }" />
          <label for="name">First name</label>
        </span>
      </div>
      <div class="p-field col-6 py-3">
        <span class="p-float-label">
          <input id="name" type="text" class="w-full" pInputText formControlName="lastName"
          [ngClass]="{ error: form.get('lastName')?.invalid && form.get('lastName')?.touched }" />
          <label for="name">Last name</label>
        </span>
      </div>
      <div class="p-field col-12 py-3">
        <span class="p-float-label">
          <input id="name" type="text" class="w-full" pInputText formControlName="email"
          [ngClass]="{ error: form.get('email')?.invalid && form.get('email')?.touched }" />
          <label for="name">Email</label>
        </span>
      </div>
    </div>

    <div *ngIf="role == 'Business'" formGroupName="companyDetails">
      <p-divider type="solid">
        <b>Company details</b>
      </p-divider>
      <div class="grid jc-between mb-3">
        <div class="p-field col-6 py-3">
          <span class="p-float-label">
            <input id="name" type="text" class="w-full" pInputText formControlName="name"
            [ngClass]="{ error: form.get('companyDetails.name')?.invalid && form.get('companyDetails.name')?.touched }" />
            <label for="name">Company's name</label>
          </span>
          <app-input-error-message [control]="form.get('companyDetails.name')" name="Company's name"></app-input-error-message>

        </div>
        <div class="p-field col-6 py-3">
          <span class="p-float-label">
            <input id="name" type="text" class="w-full" pInputText formControlName="identificationNumber"
            [ngClass]="{ error: form.get('name')?.invalid && form.get('name')?.touched }" />
            <label for="name">Registration number</label>
          </span>
          <app-input-error-message [control]="form.get('companyDetails.identificationNumber')" name="Registration number"></app-input-error-message>

        </div>
        <div class="p-field col-8 py-3">
          <span class="p-float-label">
            <input id="name" type="text" class="w-full" pInputText formControlName="address"
            [ngClass]="{ error: form.get('name')?.invalid && form.get('name')?.touched }" />
            <label for="name">Registration address</label>
          </span>
          <app-input-error-message [control]="form.get('companyDetails.address')" name="Registration address"></app-input-error-message>

        </div>
        <div class="p-field col-4 py-3">
          <app-country-select formControlName="countryOfRegistration"></app-country-select>
        </div>
        <div class="p-field col-6 py-3">
          <span class="p-float-label">
            <input id="name" type="text" class="w-full" pInputText formControlName="beneficialOwner"
            [ngClass]="{ error: form.get('name')?.invalid && form.get('name')?.touched }" />
            <label for="name">Beneficial owner</label>
          </span>
          <app-input-error-message [control]="form.get('companyDetails.beneficialOwner')" name="Beneficial owner"></app-input-error-message>

        </div>
        <div class="p-field col-6 py-3">
          <span class="p-float-label">
            <input id="name" type="text" class="w-full" pInputText formControlName="website"
            [ngClass]="{ error: form.get('name')?.invalid && form.get('name')?.touched }" />
            <label for="name">Company's website</label>
          </span>
          <app-input-error-message [control]="form.get('companyDetails.website')" name="Company's website"></app-input-error-message>

        </div>
        <div class="p-field col-12 py-3">
          <span class="p-float-label">
            <textarea style="width: 100%;" rows="5" cols="30" pInputTextarea formControlName="summary"></textarea>
            <label for="name">Summary</label>
          </span>
          <app-input-error-message [control]="form.get('companyDetails.summary')" name="Summary"></app-input-error-message>

        </div>
        <div class="p-field col-12 py-3">
          <span class="p-float-label">
            <textarea  style="width: 100%;" rows="5" cols="30" pInputTextarea formControlName="description"></textarea>
            <label for="name">Description</label>
          </span>
          <app-input-error-message [control]="form.get('companyDetails.description')" name="Description"></app-input-error-message>

        </div>
      </div>
        <p-divider type="solid">
          <b>Social media profiles</b>
        </p-divider>
        <app-input-error-message [control]="form.get('companyDetails.socialMediaLinks')" name="Social media profile"></app-input-error-message>

        <div class="grid">
          <div class="col-12 py-3">
            <app-social-links-select formControlName="socialMediaLinks"></app-social-links-select>
          </div>
        </div>
    </div>
    <div *ngIf="role == 'ContentCreator'" formGroupName="personDetails">
      <div class="grid">
        <div class="col-12">
          <p-divider type="solid">
            <b>Avatar</b>
          </p-divider>
          <p>Upload one image that will show on your profile page. It should be a picture of you.</p>

          <app-image-uploader [maxImages]="1" formControlName="avatar"></app-image-uploader>
          <app-input-error-message [control]="form.get('personDetails.avatar')" name="Avatar"></app-input-error-message>

        </div>
      </div>

      <p-divider type="solid">
        <b>Additional information</b>
      </p-divider>
      <div class="grid jc-between mb-3">
        <div class="p-field col-6 py-3">
          <span class="p-float-label">
            <input id="name" type="text" class="w-full" pInputText formControlName="nickname"
            [ngClass]="{ error: form.get('personDetails.nickname')?.invalid && form.get('personDetails.nickname')?.touched }" />
            <label for="name">Nickname</label>
          </span>
          <app-input-error-message [control]="form.get('personDetails.nickname')" name="Nickname"></app-input-error-message>
        </div>
        <div class="p-field col-6 py-3">
          <app-country-select fieldName="Nationality" formControlName="nationality"></app-country-select>
        </div>
        <div class="p-field col-12 py-3">
          <span class="p-float-label">
            <textarea style="width: 100%;" rows="2" cols="30" pInputTextarea formControlName="summary"
            [ngClass]="{ error: form.get('personDetails.summary')?.invalid && form.get('personDetails.summary')?.touched }" ></textarea>
            <label for="name">Summary</label>
          </span>
          <app-input-error-message [control]="form.get('personDetails.summary')" name="Summary"></app-input-error-message>
        </div>
        <div class="p-field col-12 py-3">
          <span class="p-float-label">
            <textarea  style="width: 100%;" rows="5" cols="30" pInputTextarea formControlName="description"
            [ngClass]="{ error: form.get('personDetails.description')?.invalid && form.get('personDetails.description')?.touched }" ></textarea>
            <label for="description">Description</label>
          </span>
          <app-input-error-message [control]="form.get('personDetails.description')" name="Description"></app-input-error-message>
        </div>
        </div>
        <p-divider type="solid">
          <b>Social media profiles</b>
        </p-divider>

        <div class="grid">
          <div class="col-12 py-3">
            <app-input-error-message [control]="form.get('personDetails.socialMediaLinks')" name="Social media link"></app-input-error-message>
            <app-social-links-select formControlName="socialMediaLinks"></app-social-links-select>
          </div>
        </div>
        <p-divider type="solid">
          <b>Categories</b>
        </p-divider>

        <div class="grid">
          <div class="col-12 py-3">
            <app-input-error-message [control]="form.get('personDetails.categories')" name="Category"></app-input-error-message>
            <app-categories-select formControlName="categories"></app-categories-select>
          </div>
        </div>
    </div>



    <div class="p-field col-12 mt-3">
      <p-button label="Submit" type="submit" ></p-button>
    </div>
  </form>

</p-card>
