<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
<div class="grid">
  <div class="col-12">
    <div class="card">
        <h5>All Websites</h5>
      <p-table [value]="websites" [paginator]="false" [rows]="5" responsiveLayout="scroll">
        <ng-template pTemplate="caption">
          <div class="table-header p-d-flex p-jc-between p-ai-center">
            <div class="p-d-flex p-jc-between p-ai-center" style="display: flex; justify-content: space-between;
            align-items: end;">
              <div class="flex" style="align-content: end;">
                <div>
                  <h5>Search for a website</h5>
                  <div class="p-inputgroup" style="width: fit-content">
                    <input type="text" pInputText placeholder="Keyword" (input)="search($event)" />
                    <button type="button" pButton pRipple label="Search"></button>
                  </div>
                </div>
                <div>
                </div>
              </div>
              <button type="button" pButton pRipple label="Add new website" (click)="open()"></button>

            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
            <th pSortableColumn="domain">Domain <p-sortIcon field="domain"></p-sortIcon></th>
            <th>Allow subdomains</th>
            <th>Created on</th>
            <th>Actions</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-website>
          <tr>

            <td>{{website.name}}</td>
            <td>{{website.domain}}</td>
            <td>{{website.allowSubdomains? "Yes":"No"}}</td>
            <td>{{website.createdOn.toLocaleString()}}</td>
            <td><button type="button" pButton pRipple label="Edit" (click)="open(website)"></button>
                <button type="button" pButton pRipple label="Delete" class="p-button-danger ml-1" (click)="archive(website)"></button>
            </td>
          </tr>
        </ng-template>
      </p-table>
      <p-paginator [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [totalRecords]="totalCount"
        (onPageChange)="paginate($event)"></p-paginator>
    </div>
  </div>
</div>
