name: Build and Deploy

on:
  push:
    branches:
      - main
      
env:
  REGISTRY: ghcr.io
  FRONTEND_IMAGE_NAME: captivlink-portal
  TAG: ${{ github.sha }}

jobs:
  build-frontend:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Check out repository
      uses: actions/checkout@v2

    - name: Set up Node.js
      uses: actions/setup-node@v2
      with:
        node-version: 16

    - name: Set current date as env variable
      run: echo "NOW=$(date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_ENV

    - name: Install and build frontend
      run: |
        npm install
        npm run build -- --c production

    - name: Login to GitHub Container Registry
      uses: docker/login-action@v2
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Build and push frontend Docker image
      uses: docker/build-push-action@v2
      with:
        context: ./
        file: ./Dockerfile
        push: true
        tags: ${{ env.REGISTRY }}/petar200195-001/${{ env.FRONTEND_IMAGE_NAME }}:${{ env.TAG }}
        
  
  deploy-frontend:
    runs-on: ubuntu-latest
    needs: [build-frontend]
    environment:
      name: 'production'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Deploy to Azure Web App
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'captivlink-portal'
        slot-name: 'production'
        publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_64A8997FF4FD40B5B9E44CE7C987E227 }}
        images: ${{ env.REGISTRY }}/peter200195-001/${{ env.FRONTEND_IMAGE_NAME }}:${{ env.TAG }}
